# -------------------------
# Python cache and bytecode
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual environments
# -------------------------
env/
venv/
.venv/
*.env

# -------------------------
# Jupyter / IPython
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Python package metadata
# -------------------------
*.egg-info/
dist/
build/

# -------------------------
# Model and data files
# -------------------------
*.h5
*.pt
*.pth
*.csv

# -------------------------
# Streamlit cache
# -------------------------
.streamlit/

# -------------------------
# IDE files
# -------------------------
.vscode/
.idea/
